import React, { PropTypes } from 'react';
import { Form, Input, Button, Select } from 'antd';

const {{toUpCase namespace}}Search = ({
  keyword,
  onSearch,
  onAdd,
  form: {
    getFieldDecorator,
    validateFields,
    getFieldsValue,
    },
  }) => {
  function handleSubmit(e) {
    e.preventDefault();
    validateFields((errors,values) => {
      if (!!errors) {
        return;
      }
      onSearch(values);
    });
  }

  return (
    <div style=\{{ display: 'flex', marginBottom: '20px' }}>
      <div style=\{{ flex: '1' }}>
        <Form inline onSubmit={handleSubmit}>
          <Form.Item
            hasFeedback
          >
            {getFieldDecorator('keyword', {
              initialValue: keyword || '',
            })(
              <Input type="text" placeholder="输入关键字" style=\{{ width: '230px' }}/>
            )}
          </Form.Item>
          <Button style=\{{ marginRight: '10px' }} type="primary" htmlType="submit" icon="search">搜索</Button>
        </Form>
      </div>
      <div >
        <Button type="ghost" onClick={onAdd} icon="plus">添加</Button>
      </div>
    </div>
  );
};

{{toUpCase namespace}}Search.propTypes = {
  form: PropTypes.object.isRequired,
  onSearch: PropTypes.func,
  onAdd: PropTypes.func,
  field: PropTypes.string,
  keyword: PropTypes.string,
};

export default Form.create()({{toUpCase namespace}}Search);
